body{
background-color: rgb(18, 18, 18);
font-family: 'Poppins', sans-serif;
color:white;
  }

.header{
  display: grid;
  grid-template-columns: auto auto;
  width: 100%
}
#ClaireLogo{
  width: 160px;
  margin-left: 5%;
  margin-top: -5px;
}

#MenuBar{
  width: 500px;
  position: absolute;
  top: 15px; right: 42px;
  z-index: -1;
  rotate: 10;
}

#SquareSelect{
  width:150px;
  position: absolute;
  top: -7px; right: 410px;
  opacity: 0;

  &:hover{
    opacity: 100;
  }
}
.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin:0px;
  overflow: hidden;
}

.navbar a{
  color:white;
  text-decoration: none;
  padding:12px;
  display: block;
  text-align: center;
  &:hover{
    background-color: aquamarine;
  }
}

.navbar li{
  float:right;
  margin-top: 5%;
  margin-right: 5%;
}


.logoContainer{
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

.logoContainer img{
  width: 450px;
}

.galleryHeader{
  text-align: center;
  font-size: 30px;
}
