/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* min body height */
body {
  min-height: 100vh;
}

a, button {
  cursor: revert;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, textarea {
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}

body {
  background-color: rgb(18, 18, 18);
  font-family: "Poppins", sans-serif;
  color: white;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

#ClaireLogo {
  width: 160px;
  margin-left: 5%;
  margin-top: -5px;
}

#MenuBar {
  width: 500px;
  position: absolute;
  top: 15px;
  right: 42px;
  z-index: -1;
  rotate: 10;
}

.logoContainer {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-left: 30px;
  z-index: -1;
}

#ClaireBigLogo {
  position: relative;
  width: 60%;
}

#ClaireBigLogoOverlay {
  width: 60%;
  position: absolute;
  z-index: -1;
  animation: fadeIn 7s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.HomeContainer {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
}

.HomeButtons {
  display: flex;
  gap: 30px;
  margin-top: -60px;
}
.HomeButtons a {
  font-size: 24px;
  text-decoration: none;
  color: white;
  z-index: 3;
  position: relative;
}
.HomeButtons a:hover {
  color: rgb(153, 216, 210);
}

.DemoReelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
  margin-top: -50px;
}

#DemoReelBackground:nth-child(1) {
  transform: scale(130%);
  margin: auto;
}

.video:nth-child(2) {
  padding: 56.25% 0 0 0;
  position: absolute;
  transform: translate(0px, 50px);
  transform: scale(85%);
  width: 60%;
  z-index: 4;
}

.galleryHeader {
  text-align: center;
  font-size: 30px;
}

.gallery-wrap {
  max-width: 70%;
  margin: auto;
  position: relative;
}
.gallery-wrap .buttons {
  position: absolute;
  top: 50%;
  left: 0;
  width: 120%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transform: translate(-8%, -50%);
  color: transparent;
  background-color: none;
  text-decoration: none;
  border: 0px;
  background: none;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header {
  padding-right: 30px;
  position: relative;
}
.header .__logo {
  position: relative;
  z-index: 1;
}
.header .navbar {
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
  justify-content: flex-end;
}
@media only screen and (max-width: 500px) {
  .header .navbar {
    position: absolute;
    align-items: center;
    top: -105vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    justify-content: flex-start;
    padding: 30px;
    transition: top 0.3s ease;
  }
  .header .navbar.active {
    top: 0px;
  }
  .header .navbar ul {
    flex-direction: column;
  }
  .header .navbar ul li a {
    text-align: left;
  }
}
.header .navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
}
.header .navbar a {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 12px;
  display: block;
  text-align: center;
}
.header .navbar a img {
  width: 190%;
  position: absolute;
  bottom: -60px;
  left: 0;
  display: none;
}
.header .navbar a:hover, .header .navbar a:focus {
  color: rgb(153, 216, 210);
}
.header .navbar a:hover img, .header .navbar a:focus img {
  display: block;
}
.header .hamburger {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: relative;
  border: transparent;
  display: none;
  align-self: center;
  justify-self: flex-end;
}
@media only screen and (max-width: 500px) {
  .header .hamburger {
    display: flex;
  }
}
.header .hamburger span {
  display: block;
  width: 100%;
  background-color: white;
  height: 5px;
}/*# sourceMappingURL=index.css.map */